<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @page.page_type %>
</p>

<p>
  <strong>Headline:</strong>
  <%= @page.headline %>
</p>

<p>
  <strong>Subheadline:</strong>
  <%= @page.subheadline %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
